use http;
use hyper;
use serde_json;

#[derive(Debug, thiserror::Error)]
pub enum Error {
    #[error("API error: {0:?}")]
    Api(ApiError),
    #[error("Axum error: {0:?}")]
    AxumError(#[from]axum::Error),
    #[error("Header error: {0:?}")]
    Header(hyper::http::header::InvalidHeaderValue),
    #[error("HTTP error: {0:?}")]
    Http(http::Error),
    #[error("Hyper error: {0:?}")]
    Hyper(hyper::Error),
    #[error("Serde error: {0:?}")]
    Serde(serde_json::Error),
    #[error("URI error: {0:?}")]
    UriError(http::uri::InvalidUri),
    #[error("Infallible")]
    Infallible(#[from]std::convert::Infallible),
    #[error("Unspecified {0:?}")]
    Unspecified(String),
}

#[derive(Debug)]
pub struct ApiError {
    pub code: hyper::StatusCode,
    pub body: hyper::body::Body,
}

impl From<(hyper::StatusCode, hyper::body::Body)> for Error {
    fn from(e: (hyper::StatusCode, hyper::body::Body)) -> Self {
        Error::Api(ApiError {
            code: e.0,
            body: e.1,
        })
    }
}

impl From<http::Error> for Error {
    fn from(e: http::Error) -> Self {
        return Error::Http(e)
    }
}

impl From<hyper::Error> for Error {
    fn from(e: hyper::Error) -> Self {
        return Error::Hyper(e)
    }
}

impl From<serde_json::Error> for Error {
    fn from(e: serde_json::Error) -> Self {
        return Error::Serde(e)
    }
}

mod request;

{{#apiInfo}}
{{#apis}}
mod {{{classFilename}}};
{{#operations}}
{{#operation}}
{{#-last}}
pub use self::{{{classFilename}}}::{ {{{classname}}}, {{{classname}}}Client };
{{/-last}}
{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}

pub mod configuration;
pub mod client;